body{
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
/* -------------------container-------------- */
.container{
    width: 1440px;
    margin: 0 auto;
    overflow-x: hidden;
    background-color: #FFFFFF;
}
/* ---------------------------header section ---------------------- */
.header-section{
    height: 667px;
    border: 1px solid;
    padding: 42px 124px 0 156px;
    background-color:#2D25A0;
}
/* ---------------------nav bar ----------------- */
.navBar{
    height: 44px;
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navBar nav a{
    color: #FFFFFF;
    font-size: 16px;
    margin-right: 36px;
    text-decoration: none;
    padding: 8px;
    border-radius: 10px;
}
.navBar nav a:hover,.active{
    background-color: tomato;
}
.login-part{
    color: white;
    padding: 10px 24px;
    background-color: #E02C6D;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}
.login-part span{
    margin-left: 8px;
}
.login-part:hover{
    color: black;
    padding: 12px 25px;
    background-color: aqua;
    transition: all 0.5s;
    font-weight: bold;
}
/* ---------------header bottom------------------- */
.header-bottom{
    display: flex;
    
}

.header-title h2{
    font-size: 64px;
    color: white;
    margin-top: 144px;
    margin-right: 94px;
    margin-bottom: 0;
    
}
.header-image img{
    height: 438px;
    width: 556px;
    margin-top: 49px;
    animation: img-animation 5s ease-in 2s 1;
}
.header-title p{
background-color: tomato;
display: inline-block;
padding: 10px 24px;
margin: 0;
color: white;
}
.header-title p:hover{
    color: black;
    padding: 12px 25px;
    background-color: aqua;
    transition: all 0.5s;
    font-weight: bold;
}
.fa-arrow-right{
    margin-left: 5px;
    margin-top: 2px;
}
/* ------------------image animation sectin ----------------- */
@keyframes img-animation{
    from
    {
        position: relative;
        right: -40%;
        top: 0;
    }
    to{
        position: relative;
        right: 1%;
        top: 0;
    }
}
/*------------------------- blog section ------------------------ */
.blog-section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 70px 210px 0 150px;
    grid-gap: 27px 30px;
}
.blog{
    width: 330px;
    height: 474px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 15px 33px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog img{
    width: 330px;
    height: 256px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.blog-info a{
    text-decoration: none;
    color: black;
}
.blog-info h1{
    font-size: 28px;
    margin-bottom: 1px;
}
.blog-info p{
    font-size: 16px;
}
/* -------------------------------last section ---------------------- */
.last-section{
    display: flex;
    margin-top: 160px;
    justify-content: space-between;
}
.last-section-info{
    height: 329px;
    width: 469px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 60px;
    margin-left: 150px;
    margin-right: 66px;
}
.last-section-info h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
.last-section-info p{
    font-size: 16px;
    text-align: left;
}
.last-section-info span{
    background-color: tomato;
    display: inline-block;
    padding: 10px 24px;
    margin: 0;
    color: white;
    }
.last-section-info span:hover{
        color: black;
        padding: 12px 25px;
        background-color: aqua;
        transition: all 0.5s;
        font-weight: bold;
    }
.last-section-img{
    margin-right: 120px;
}
.last-section-img img{
    width: 567px;
    height: 427px;
}
/*------------- last section again -------- */

.last-section-again{
    display: flex;
    margin-top: 160px;
    justify-content: space-between;
    margin-top: 60px;
}
.last-section-info-again{
    height: 329px;
    width: 469px;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
    margin-right: 166px;
}
.last-section-info-again h1{
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
.last-section-info-again p{
    font-size: 16px;
    text-align: left;
}
.last-section-info-again span{
    background-color: tomato;
    display: inline-block;
    padding: 10px 24px;
    margin: 0;
    color: white;
    }
    .last-section-info-again span a,.last-section-info span a{
        text-decoration: none;
        color: white;
    }
.last-section-info-again span:hover{
        color: black;
        padding: 12px 25px;
        background-color: aqua;
        transition: all 0.5s;
        font-weight: bold;
    }
.last-section-img-again{
    margin-left: 120px;
    margin-right: 0;
}
.last-section-img-again img{
    width: 567px;
    height: 427px;
}
/* footer section  */
.footer-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}
.footer-section img{
    height: 80px;
    width: 450px;
}
.copyright p{
font-weight: 800;
font-size: 16px;
}
.icon{
    display: flex;
}
.icon div{
    background-color: grey;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 25px;
    opacity: .5;
}
.icon div:hover{
    background-color: blue;
}
.icon a:hover{
    color: white;
}
.icon a{
    text-decoration: none;
    color: black;
}

.fab{
    font-size: 22px;
    text-align: center;
    padding: 9px;
}

/* ---------------------------------------small device media quires------------------- */
@media only screen and (max-width: 682px) {
    
    .container{
        width: 100%;
        padding-left: 0;
        
    }
    .header-section{
        width: 100%;
        height: 850px;
        padding: 0;

    }
    .navBar{
        display: none;
    }
    .header-bottom{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10px;
    }
    .header-title{
        padding-left: 5px;
    }
    .header-title h2{
        font-size: 50px;
        margin-top: 10px;
        margin-right: 50px;
        
    }
    .header-image img{
        height: 300px;
        width: 350px;
        margin-top: 100px;
    }
    .blog-section{
        grid-template-columns: repeat(1,1fr);
        grid-gap: 27px 0;
        align-items: center;
        padding:2px 0 0 25px;
    }
    .last-section{
        flex-direction: column;

    }
    .last-section-info{
        margin-bottom: 50px;
        margin: 10px auto;
    }
    .last-section-img{
        margin: 10px auto;
    }
    .last-section-img img{
        width: 467px;
        height: 327px;
       
    }
    .last-section-again{
        flex-direction: column;

    }
    .last-section-info-again{
        margin-bottom: 50px;
        margin: 10px auto;
    }
    .last-section-img-again{
        margin: 10px auto;
    }
    .last-section-img-again img{
        width: 467px;
        height: 327px;
       
    }
    .footer-section img{
        width: 250px;
    }
    .icon div{
        height: 30px;
        width: 30px;
    }
    .fab{
        font-size: 18px;
        padding: 5px;
    }
    .copyright p{
        font-size: 10px;
    }
}